.secrets
venv
secrets/keepass/mcp_secrets.kdbx
secrets/keepass_master_password.txt
.DS_Store
secrets/aicrusher_jeriko_id_rsa
secrets/gemini_api_key.txt
secrets/anthropic_api_key.txt
secrets/keepass_alf_password.txt
15_freqtrade_mcp/user_data/logs/freqtrade.log
